html{box-sizing:border-box}*,::after,::before{box-sizing:inherit}body{margin:0;padding:0}ol,ul{list-style:none}a{text-decoration:none;color:inherit}
html, * {
    box-sizing: border-box;
}
body {
    font-family: sans-serif;
}

#loader_window {
    height: 100vh;
    width: 100%;
    background: white;
    position: relative;
}


.box_loader_square {
    height: 50px;
    width: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-wrap: wrap;
}
.box_loader_square .loader {
    height: 25px;
    width: 25px;
    background: rgb(60, 60, 221);
}

.box_loader_square .loader_square_1 {
    animation: loader_anim 3s 0s infinite ease-in-out;
}

.box_loader_square .loader_square_2 {
    animation: loader_anim 3s 0.5s infinite ease-in-out;
}

.box_loader_square .loader_square_3 {
    animation: loader_anim 3s 1s infinite ease-in-out;
}

.box_loader_square .loader_square_4 {
    animation: loader_anim 3s 1.5s infinite ease-in-out;
}

@keyframes loader_anim {
    0%, 25% {
        background: rgb(60, 60, 221);
    }
    50%, 100% {
        background: white;
    }
}




/* -------------------- 2 */

.box_loader_square_2 {
    height: 50px;
    width: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-wrap: wrap;
}

.box_loader_square_2 .loader {
    height: 25px;
    width: 25px;
    background: rgb(60, 60, 221);
}


.box_loader_square_2 .loader_square_1,
.box_loader_square_2 .loader_square_4 {
    animation: loader_square_anim_1 1s infinite ease-in-out;
}


.box_loader_square_2 .loader_square_2,
.box_loader_square_2 .loader_square_3 {
    animation: loader_square_anim_2 1s infinite ease-in-out;
}

@keyframes loader_square_anim_1 {
    0%, 40% {
        background: rgb(60, 60, 221);
        opacity: 1;
    }
    50%, 100% {
        background: rgb(60, 60, 221);
        opacity: 0;
    }
}

@keyframes loader_square_anim_2 {
    0%, 40% {
        background: rgb(60, 60, 221);
        opacity: 0;
    }
    50%, 100% {
        background: rgb(60, 60, 221);
        opacity: 1;
    }
}





/* ------------------- 3 */
.loader_spinner_1 {
    height: 50px;
    width: 50px;
    /* background: #000; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50px;
    border: 5px solid transparent;
    border-top: 5px solid rgb(53, 226, 117);
    animation: spinner_loader_1 3s 0s cubic-bezier(.81,.06,.69,.94) infinite;
}
@keyframes spinner_loader_1 {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* --------- 4 */
.box_loader_pulse_img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100px;
    width: 100px;
    animation: loader_pulse_img 2s 0s infinite ease-out;
    padding: 10px;
    border-radius: 100%;
}
.box_loader_pulse_img img {
    border-radius: 50%;
    height: 100%;
    width: 100%;
}

@keyframes loader_pulse_img {
    0% {
        box-shadow: 0px 0px 0px 0px transparent;
    }
    50% {
        box-shadow: 0px 0px 100px 50px rgba(236, 48, 48, 0.75);
    }
    100% {
        box-shadow: 0px 0px 0px 0px transparent;
    }
}



/* -------------- 5 */
.box_loader_wave {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    gap: 10px;
}
.loader_wave {
    height: 25px;
    width: 25px;
    background: blue;
    border-radius: 50%;
    /* animation: loader-anim 0.3s infinite 0s ease-out alternate; */
    }
.loader_wave_1 {
    animation: loader-anim 0.3s infinite 0s ease-out alternate;
}
.loader_wave_2 {
    animation: loader-anim 0.3s infinite 0.05s ease-out alternate;
}
.loader_wave_3 {
    animation: loader-anim 0.3s infinite 0.1s ease-out alternate;
}
    
    @keyframes loader-anim {
        from {
          transform: translateY(-30px);
        }
      }
    
/* --------------------- 6 */
.box_loader_gear {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.box_loader_gear svg {
    animation: loader_gear 5s 0s infinite ease-out;
}



@keyframes loader_gear {
    0% {
        transform: rotate(-360deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* ------------- 7 */
.box_loader_square_3 .loader_square {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 50px;
    width: 50px;
    background: #000;
    animation: loader_square 5s 0s infinite ease-out;
}
@keyframes loader_square {
    0% {
        transform: rotate(-360deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
/* -------- 8 */
.box_loader_square_4 .loader_square {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 50px;
    width: 50px;
    /* background: #6c151500; */
    animation: loader_square_2 4s 0s infinite ease-out;
    /* border: 1px solid #000; */
}
@keyframes loader_square_2 {
    25% {
        border-left: 1px solid #000;
    }
    50% {
        border-top: 1px solid #000;
    }
    75% {
        border-right:  1px solid #000;
    }
    100% {
        border-bottom: 1px solid #000;
    }
}

/* 9 */
.box_loader_pulse {
    height: 100%;
    width: 100%;
    background: #000;
    animation: loader_pulse 22s 0s infinite ease;
}
@keyframes loader_pulse {
    0% {
        background: red;
    }
    10% {
        background: blue;
    }
    20% {
        background: rgb(30, 128, 72);
    }
    30% {
        background: rgb(255, 153, 0);
    }
    40% {
        background: rgb(255, 0, 43);
    }
    50% {
        background: rgb(0, 255, 217);
    }
    60% {
        background: rgb(85, 71, 205);
    }
    70% {
        background: rgb(241, 241, 241);
    }
    80% {
        background: rgb(16, 23, 22);
    }
    90% {
        background: rgb(174, 180, 18);
    }
    100% {
        background: rgb(180, 18, 102);
    }
}
.box_loader_pulse h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    color: white;
    text-shadow: 1px 1px 1px #000;
}

/* ------------ 10 */

.container_loader {
    height: 100%;
    width: 100%;
    background: #dce975;
    animation: loader_loading 15s 0s ease;
}
.container_loader h1 {
    color: white;
    font-size: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
@keyframes loader_loading {
    from {
        width: 0%;
    }
}

/* 11 */

.loader_bar {
    width: 500px;
    height: 25px;
    /* background: #000; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50px;
background: linear-gradient(145deg, #cacaca, #f0f0f0);
box-shadow:  20px 20px 60px #bebebe,
             -20px -20px 60px #ffffff;
}
.loader_bar_complet {
    width: 100%;
    height: 100%;
    border-radius: 50px;
    background: rgb(103, 224, 252);
    animation: loader_bar_1 10s 0s ease-in-out;
}
@keyframes loader_bar_1 {
    from {
        width: 5%;
    }
}